.quick-form {

    background-color: #fff;
    width: 100%;
    margin: auto;
    padding: 10px;


    .error-msg {
        color: red;
        font-size: 0.8em;
    }

    input,
    select {
        margin: 5px 0;
    }
}