.section-dashboard{
    width: 90%;
    min-height: 100px;
    margin: 10px auto;
    padding: 10px;
    border-radius: 5%;
    -moz-border-radius:5%;
    -webkit-border-radius: 5%;
    box-shadow: 0px 5px 6px rgba(0, 0, 0, 0.04);
    border-radius: 20px;
    h4{
        text-align: center;
        display: flex;
        justify-content: space-between;
        span{
            cursor: pointer;
        }
        +.fine-sep{
         width: 100%;
        }
    }
    ul,li{
        list-style: none;
    }
    .product-info{
        
         .desc{
        padding: 5px 2px;
        display: flex;
        justify-content: space-between;
    }
    }
   
}